body {
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
background: #ffeaf4;
color: #5c385b;
}

header h1{
font-size: 2.5rem;
margin-bottom:10px;
}

nav{
background: #ffc7e7;
display: flex;
justify-content: center;
gap: 20px;
padding: 12px;
}

nav a {
color: #5c385b;
text-decoration: none;
font-weight: 600;
transition: 0.38;
}

nav a:hower{
color: #c2529e;
}

section {
padding: 40px 10%;
background: white;
margin: 40px auto;
border-radius: 15px;
box-shadow: 0 4px 10px rgba(150, 60, 120, 0.2);
}

section h2 {
text-align: center;
color: #c2318f;
margin-bottom: 20px;
}
ul {
list-style: none;
padding: 0:
}
ul li {
background: #ffe0f1;
margin: 8px 0;
padding: 10px;
border-radius: 10px;
}
projects-container {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
}

project-card {
background: #ffe1f3;
width: 250px:
padding: 20px;
border-radius: 12px;
text-align: center;
box-shadow: 0 2px 5px rgba(160, 60, 130, 0.2);
transition: 0.3s;
}

project-card:hover {
transform: scale(1.05);
background: #ffc2eb;
}

footer {
background: #ffb6dc;
text-align: center;
padding: 15px;
color: black;
margin-top: 40px;
}

